[entryPoints]
  [entryPoints.web]
    address = ":80" 
  [entryPoints.web.http]
    [entryPoints.web.http.redirections]
      [entryPoints.web.http.redirections.entryPoint]
        to = "websecure"
        scheme = "https"

  [entryPoints.websecure]
    address = ":443"

[accessLog]

[api]
dashboard = true

[providers]
  [providers.docker]
    exposedByDefault = false

# Let's Encrypt config:
# certificate storage path 
# verification type: HTTP Challenge
[certificatesResolvers.letsencrypt.acme]
  email = "yuliejung.dev@gmail.com"
  storage = "/certificates/acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "web" 